body {
	background: url("images/test.jpg");
}

h1 {
	text-align: center;
	color: red;
	font-family: Helvetica, sans-serif;
	font-size: 80px;
}
h2 {
	color: green;
}

p, h2 {
	margin-left: 15px;
	font-family: Helvetica, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.censored {
	background-color:black;
	user-select: none;	
	color: black;
}

.alinea {
	margin-left: 20px;
}

#block {
	margin-left: 50px;
	margin-right: 50px;
	height: 1000px;
	background-color: #fff;
	opacity: 0.9
}

#shadowing
{
  display: none;      /* le filtre n'est pas affiché au départ, on la change en display:block au moment ou l'on veut le faire apparaître */
  position: fixed;  
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #CCA;   /* teintre de vieux papier au filtre */ 
  z-index:10;              /* permet de placer le filtre au-dessus des autres éléments de la pag */
  opacity:0.5;
 }
  
 #box
{
  display: none;
  position:fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  max-height:400px;
  padding: 0;
  margin:0;
  border: 1px solid black;
  background-color: white;
  z-index:11;
  overflow: auto;
}

.note {
	margin-left: 15px;
	font-family: Courier Prime, sans-serif;
	color: darkblue;
}

.post {
	margin-left: 15px;
	margin-right: 15px;
	background-color: pink;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}
